{% extends "ajax/layout.html" %}
{% load static %}

{% block body %}

<div class="ptt">Javascript fetch tests</div>

<button class="btn btn-primary" onclick="get_data();">Get data</button>
<div id="blockA">...</div>

<button class="btn btn-info" onclick="get_json();">Get json</button>
<div id="blockB">...</div>

<button class="btn btn-danger" onclick="post_json();">Post json</button>
<div id="blockC">...</div>

<button class="btn btn-secondary" onclick="post_form();">Post form</button>
<form>
    <!--<input type="text" name="text"/>-->
    {{form}}
</form>
<div id="blockD">...</div>



{% endblock %}