{% extends "ajax/layout.html" %}
{% load static %}

{% block body %}

<div class="ptt">Javascript fetch tests</div>

<button class="btn btn-primary m-2" onclick="get_data();">Get data</button>
<div id="blockA">...</div>

<button class="btn btn-info m-2" onclick="get_json();">Get json</button>
<div id="blockB">...</div>

<button class="btn btn-danger m-2" onclick="post_json();">Post json</button>
<div id="blockC">...</div>

<div class="">
    <button class="btn btn-secondary m-2" onclick="post_form();">Post form</button>
    <div class="m-2">
        <form id="form-A">
            {{form_A}}
        </form>
    </div>
</div>

<div class="">
    <button class="btn btn-success m-2" onclick="post_form_json_return();">Post form json returned</button>
    <div class="m-2">
        <form id="form-B">
            {{form_B}}

        </form>
    </div>
</div>

    {% endblock %}
